<div xmlns:th="http://www.thymeleaf.org" th:replace="header"></div>
<body xmlns:th="http://www.thymeleaf.org">
<div th:replace="nav-bar"></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card border-info banner-height">
                <div class="card-img-overlay">
                    <div class="align-self-center banner-parent">
                        <h3 class="card-text text-center banner-child text-info" th:text="#{admin}"></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <h4 class="text-info" th:text="#{admin_options}"></h4>
                    <table class="table table-bordered border-info text-center text-info">
                        <thead>
                            <tr>
                                <td valign="middle" th:text="#{activate_new_users}"></td>
                                <td><a href="/admin/pending-users" class="btn btn-info text-white" type="button" th:text="#{activate}"></a></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td valign="middle" th:text="#{edit_tariffs}"></td>
                                <td><a href="/admin/tariff" class="btn btn-info text-white" type="button" th:text="#{edit}"></a></td>
                            </tr>
                            <tr>
                                <td valign="middle" th:text="#{create_tariff}"></td>
                                <td><a href="/admin/tariff/create" class="btn btn-info text-white" type="button" th:text="#{create}"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div xmlns:th="http://www.thymeleaf.org" th:replace="footer"></div>
</html>