<div xmlns:th="http://www.thymeleaf.org" th:replace="header"></div>
<body xmlns:th="http://www.thymeleaf.org">
<div th:replace="nav-bar"></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card border-primary banner-height">
                <div class="card-img-overlay">
                    <div class="align-self-center banner-parent">
                        <h3 class="card-text text-center banner-child text-primary" th:text="#{pending_users_title}"></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <table class="table table-bordered border-primary text-center text-primary">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td th:text="#{username}"></td>
                            <td th:text="#{status}"></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${page.content}">
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td th:text="${user.active}"></td>
                            <td>
                                <button class="activate btn btn-primary" th:attr-user="${user.getId()}">Activate
                                </button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pagination pagination-sm">
                            <li th:if="${page.totalPages > 0}"
                                th:each="pageNumber : ${pageNumbers}"
                                th:class="${pageNumber==page.number + 1} ? 'page-item active' : 'page-item'">
                                <a class="page-link"
                                   th:href="@{/admin/pending-users(page=${pageNumber}, size=${page.size})}"
                                   th:text=${pageNumber}></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div xmlns:th="http://www.thymeleaf.org" th:replace="footer"></div>
</html>