
<div id="error-alert" class="alert alert-warning alert-dismissible col-md-2 alert-top" role="alert">
    <div class="alert-body"></div>
</div>

<div id="success-alert" class="alert alert-success alert-dismissible col-md-2 alert-top" role="alert">
    <div class="alert-body"></div>
</div>



<script>let current_url = location.protocol + '//' + location.host + location.pathname;</script>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/slider/slick.min.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/js/main.js"></script>