<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title th:text="#{internet_provider}"></title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p th:text="#{internet_provider}"></p>

            <button type="button" th:text="#{switch-en}" onclick="window.location.href = current_url + '?lang=en'"></button>
            <button type="button" th:text="#{switch-ru}" onclick="window.location.href = current_url + '?lang=ru'"></button>
        </div>
    </div>
</div>
<div th:replace="footer"></div>
</body>
</html>